.wrap {
  width: 50%;
  margin: 0px auto;
}
.m20 {
  margin: 20px;
}
.no-color-div {
  width: 80%;
  margin: 20px auto;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  text-align: center;
}
